@charset "UTF-8";

.file--download {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #fff;
	border-top: 1px solid #ccc;
	display: none;
}

#detail-download .option-item-wrap dd ul li{width:100%;height:auto;overflow:hidden;padding:20px 0px;}
#detail-download .option-item-wrap dd ul{border-top:1px solid #d2d2d2; display: block;}
#detail-download .option-item-wrap dd{margin-left: 0px;}

@media screen and (min-width: 1399px) {
	.file--download {
		padding: 20px 0;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.file--download {
		padding: 1.4286vw 0;
	}
}

@media screen and (max-width: 1023px) {
	.file--download {
		padding: 4vw 0;
	}
}

.file--download .btn {
	background: #444;
	color: #fff;
}

li{
   list-style:none;
   padding-left:0px;
}

@media screen and (min-width: 1399px) {
  .download_box .video dd .thumnail--video .video--ul li {
    width: calc(33.33% - 18.62px) !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
  .download_box .video dd .thumnail--video .video--ul li {
    width: calc(33.33% - 1.3571vw) !important;
  }
}

@media screen and (max-width: 1023px) {
  .download_box .video dd .thumnail--video .video--ul li {
    margin-top: 0;
  }
}

@media screen and (max-width: 1023px) {
  .download_box .video dd .thumnail--video .video--ul li .video--img {
    height: 24vw !important;
  }
}

@media screen and (max-width: 1023px) {
  .download_box .video dd .thumnail--video .video--ul li .video--img a {
    width: 10vw;
  }
  .download_box .video dd .thumnail--video .video--ul li .video--img a img {
    width: 100%;
    height: auto;
  }
}

.download_box .video dd .thumnail--video .video--ul li label::before {
  position: absolute;
}

@media screen and (min-width: 1399px) {
  .download_box .video dd .thumnail--video .video--ul li label::before {
    top: 15px;
    left: 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
  .download_box .video dd .thumnail--video .video--ul li label::before {
    top: 1.0714vw;
    left: 1.0714vw;
  }
}

@media screen and (max-width: 1023px) {
  .download_box .video dd .thumnail--video .video--ul li label::before {
    width: 2vw !important;
    height: 2vw !important;
  }
}

@media screen and (min-width: 1399px) {
  .download_box .video dd .thumnail--video .video--ul li:nth-of-type(n + 4) {
    margin-top: 28px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
  .download_box .video dd .thumnail--video .video--ul li:nth-of-type(n + 4) {
    margin-top: 2vw !important;
  }
}

@media screen and (min-width: 1399px) {
  .download_box .video dd .thumnail--video .video--ul li:nth-of-type(4n + 1) {
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
  .download_box .video dd .thumnail--video .video--ul li:nth-of-type(4n + 1) {
    margin-left: auto;
  }
}

@media screen and (min-width: 1399px) {
  .download_box .video dd .thumnail--video .video--ul li:nth-of-type(3n + 1) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
  .download_box .video dd .thumnail--video .video--ul li:nth-of-type(3n + 1) {
    margin-left: 0px;
  }
}

.foldingWrap.video dd .thumnail--video .video--ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

@media screen and (min-width: 1399px) {
	.foldingWrap.video dd .thumnail--video .video--ul li {
		width: calc(25% - 21px);
		margin-left: 28px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.foldingWrap.video dd .thumnail--video .video--ul li {
		width: calc(25% - 1.55vw);
		margin-left: 2vw;
	}
}

@media screen and (max-width: 1023px) {
	.foldingWrap.video dd .thumnail--video .video--ul li {
		width: calc(50% - 2vw) !important;
		margin-left: 4vw;
	}
}

@media screen and (min-width: 1399px) {
	.foldingWrap.video dd .thumnail--video .video--ul li:nth-of-type(4n+1) {
		margin-left: 0;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.foldingWrap.video dd .thumnail--video .video--ul li:nth-of-type(4n+1) {
		margin-left: 0;
	}
}

@media screen and (min-width: 1399px) {
	.foldingWrap.video dd .thumnail--video .video--ul li:nth-of-type(n+5) {
		margin-top: 28px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.foldingWrap.video dd .thumnail--video .video--ul li:nth-of-type(n+5) {
		margin-top: 2vw;
	}
}

@media screen and (max-width: 1023px) {
	.foldingWrap.video dd .thumnail--video .video--ul li:nth-of-type(n+3) {
		margin-top: 4vw;
	}
}

@media screen and (max-width: 1023px) {
	.foldingWrap.video dd .thumnail--video .video--ul li:nth-of-type(odd) {
		margin-left: 0;
	}
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content {
	width: 100%;
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content.vc-file .video--img::before
	{
	display: none !important;
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img
	{
	overflow: hidden;
	position: relative;
	border: 1px solid #d2d2d2;
}

@media screen and (min-width: 1399px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img
		{
		width: 100%;
		height: 185px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img
		{
		width: 100%;
		height: 13.2143vw;
	}
}

@media screen and (max-width: 1023px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img
		{
		width: 100%;
		height: auto;
	}
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img img:not(.file_btn)
	{
	width: 100%;
	height: auto;
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img::before
	{
	content: "";
	display: inline-block;
	background: url("/resources/front/images/ico__video.png") no-repeat
		center center;
	background-size: 100%;
	position: absolute;
}

@media screen and (min-width: 1399px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img::before
		{
		width: 52px;
		height: 52px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img::before
		{
		width: 3.7143vw;
		height: 3.7143vw;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

@media screen and (max-width: 1023px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--img::before
		{
		width: 10vw;
		height: 10vw;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--title
	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	word-break: keep-all;
	border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 1399px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--title
		{
		height: 80px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--title
		{
		height: 5.7143vw;
	}
}

@media screen and (max-width: 1023px) {
	.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--title
		{
		height: 14vw;
	}
}

.foldingWrap.video dd .thumnail--video .video--ul li .video--content .video--title span
	{
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: 1.6em;
	max-height: 3.2em;
}

